body{
    height: 100%;
    color: white;
    background-color: #121214;
    font-family: 'Montserrat', sans-serif !important;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='407' height='407' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");; */
}

  * {
    scrollbar-width: none;
    scrollbar-color: #ffffff #5e5e5e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #5e5e5e;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px solid #7a7a7a;
  }

.main1 {
    background: linear-gradient(234deg, #020024, #790976, #005e71);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100vh;
}

@-webkit-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}


#menulateral{
    height: 100vh;
    position: fixed;
    float: left;
    background-color: rgb(37, 37, 37);
}

.side-menus{


}
.side-menus ul{
    display: flex;
    justify-content: center;
}

.side-menus ul li{
    padding: 5px;
    color: rgb(155, 155, 155);
    border: 2px solid transparent;
}
.side-menus ul li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    border: 2px solid transparent;
}
.side-menus ul li a:hover{
    scale: (1);
    transition: all 200ms;
    color: aliceblue;

}


.links{
    display: flex;
    background-color: rgb(56, 56, 56);
    justify-content: center;
}

.links ul li{
    padding: 10px;
}
.links ul li a{
    padding: 5px;
    text-decoration: none;
    color: rgb(155, 155, 155);
    border: 2px solid transparent;
}
.links ul li a:hover{
    scale: (1);
    transition: all 200ms;
    color: aliceblue;
    border-bottom: 2px solid rgb(212, 212, 212);
}

.helloworld{
    padding: 20px;
    display: flex;
    font-weight: 600;
    font-size: 30px;
    justify-content: center;
}
.helloworld img{
    width: 35px;
    margin-right: 10px;
}
.helloworld h1{
    color: rgb(0, 255, 0);

}

.welcome-container{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.welcome-container h1{
    padding: 1;
    font-weight: 600;
    font-size: 40px;
}
.welcome-container p{
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
}

.content{
    border-radius: 10%;
    padding: 7px;
    /* background-color: #49494909; */
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.content-text2{
    display: flex;
    align-items: center;
    /* padding: 10px; */

}
.content-text p{
    font-size: 1.4rem;
}

.content-img img{
    border-radius: 10%;
    width: 300px;
}

.h1-mobile{
    position: absolute;
    right: 210px;
    top: 1100px;
}

#icons-tec .fa-html5{
    color: rgb(255, 81, 0);
    font-size: 5rem;
    letter-spacing: 3rem;
}
#icons-tec .fa-css3-alt{
    color: #0091D5;
    font-size: 5rem;
    letter-spacing: 3rem;
}
#icons-tec .fa-js{
    color: #F7DF1E;
    font-size: 5rem;
    letter-spacing: 3rem;
}



